$darkpurple: #0C002B;
$grey: #FAF7F5;
$pink: #FF718E;
$offwhite: #FFFeFF;
$darkgrey: #828d9d;
$lightgrey: #dadde2;
$grid-column: 12;
$grid-max-width: 1280px;
$breakpoint-small: "{min-width: 0px}";
$breakpoint-medium: "{min-width: 768px}";
$breakpoint-large: "{min-width: 1008px}";
$breakpoint-xl: "{min-width: 1300px}";
